@use 'src/styles/vars';

.card {
  display: flex;
  flex-direction: column;
  text-align: left;

  width: 250px;
  height: 360px;
  margin: 10px;
  
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 20px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;

  /*
  &:last-child {
    border-radius: 0px;
    &::after {
      display: block;
      content: '';
      height: 50px;
      width: 100vw;
    }
  }
  */

  &__infos {
    height: auto;
    padding-top: 25px;
    bottom: 0;
    width: 250px;
    position: absolute;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 7%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 20px 20px;

    &__title {
      margin: 0 10px 10px 10px;

      color:white;
      font-weight: bold;
    }

    &__elements {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin: 0 10px 10px 10px;
    }
  }

  &__poster {
    height: 100%;

    object-fit: cover;
    border-radius: 20px;
  }

  &__platforms {
    color: white;
  }

  &__platform {
    margin-right: 5px;
  }

  &__platform, &__watchlistButton{
    width: 30px;
    height: 30px;

    border-radius: 20px;
  }

  &__watchlistButton {
    &--delete {
      transform: rotate(45deg);
    }
  }
}

@media (max-width: vars.$small) {
  .card {
    width: 160px;
    height: 228px;

    &__infos {
      bottom: 0;
      width: 160px;
  
      &__title {
        margin: 0 5px 5px 5px;
      }
  
      &__elements {
        margin: 0 5px 5px 5px;
      }
    }

    &__platform, &__watchlistButton{
      width: 20px;
      height: 20px;
  
      border-radius: 20px;
      font-size: .7em;
    }
  }
}
