.field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  
  &-container {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: .5rem;
  }
}
