@use 'src/styles/vars';

.toast-Container{
  color: rgb(53, 53, 53);
  font-style: italic;
  box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1)
}

.profile {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8vh;
  align-items: center;
  flex-direction: column;
  margin-top: 14vh;

  &-title {
    margin-top: 5vh;
    padding: 2vh;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.0vh;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    z-index: -2;
    
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
  }


}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);



@mixin epic-sides() { // https://codepen.io/MichaelArestad/pen/qltuk
    position: relative;
    

    &:before {
        position: absolute;
        content: "";
        display: block;
        z-index: -1;
        @content;
    }
}


.form {
  display: flex;
  justify-content: center;
  width: 100%;

  &-p{
     text-align: center;
     font-size: 1.5vh;
     font-style: italic;
     font-weight: bold;
     letter-spacing:0.2ch ;
     text-transform: uppercase;
  }
}

.updateEmailPseudo {
  width: auto;
  margin-top: 20px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.3ch;
  border: none;
  border: 3px solid #F4BB01;
  padding: 15px;

  background:  #F4BB01;
  color: white;
  border-radius: 5px;
  
  box-shadow: vars.$shadow;

  &:active {
    box-shadow: vars.$inset-shadow;
  }
}
.row {
  max-width: 800px;
  @include epic-sides() {background: inherit;}
  text-align: center;
  margin-bottom: 3vh;
  
  span {
    position: relative;
    display: flex;
    margin: 2vh
  }
  &-error{
    margin-bottom: 2vh;
    color: red;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5vh;
  }
}

.modal-title {
  margin-bottom: 2vh;
}
.p-modal {
  display: flex;
  justify-content: center;
  text-align: center;
}

.p-modal-confirm{
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}
.button-modal {
  display: flex;
  justify-content: center;
}

.delete-button {
  margin-left: 2vh;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-bottom: 1vh;
  padding-top:1vh;
  border: none;
  border-radius: 5px;
  background: #2a9d8f;
  color: white;
}

.back-button {
  margin-right: 2vh;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-bottom:1vh;
  padding-top: 1vh;
  border: none;
  border-radius: 5px;
  background: #CE4257;
  color: white;
}

.gate__pseudo {
  display: inline-block;
  width: 50vh;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 80px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #070707;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11.5px 12px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #F4BB01;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 20;
    font-style: italic;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #F4BB01;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3,36,41,.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate__pseudo {
  text-indent: 85px;
}
span:nth-child(2) .gate__pseudo:focus,
span:nth-child(2) .gate__pseudo:active{
  text-indent: 0;
}
.gate__pseudo:focus,
.gate__pseudo:active {
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;
    
    &:before {
      transform: rotate(10deg);
    }
  }
}


.gate__email {
  display: inline-block;
  width: 50vh;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #070707;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11.5px 12px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #F4BB01;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 20;
    font-style: italic;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #F4BB01;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3,36,41,.2);
      z-index: -2;
      right: 20%;
    }
  }
}

span:nth-child(2) .gate__email:focus,
span:nth-child(2) .gate__email:active{
  text-indent: 0;
}
.gate__email:focus,
.gate__email:active {
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;
    
    &:before {
      transform: rotate(10deg);
    }
  }
}


.gate__password {
  display: inline-block;
  width: 50vh;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 215px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #070707;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11.5px 12px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #F4BB01;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 20;
    font-style: italic;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #F4BB01;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3,36,41,.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate__password {
  text-indent: 85px;
}
span:nth-child(2) .gate__password:focus,
span:nth-child(2) .gate__password:active{
  text-indent: 0;
}
.gate__password:focus,
.gate__password:active {
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;
    
    &:before {
      transform: rotate(10deg);
    }
  }
}


.gate__confirmationPassword{
  display: inline-block;
  width: 50vh;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 140px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #070707;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11.5px 12px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #F4BB01;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 20;
    font-style: italic;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #F4BB01;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3,36,41,.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate__confirmationPassword:focus,
span:nth-child(2) .gate__confirmationPassword:active{
  text-indent: 0;
}
.gate__confirmationPassword:focus,
.gate__confirmationPassword:active {
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;
    
    &:before {
      transform: rotate(10deg);
    }
  }
}










.profile-delete{
  width: auto;
  margin-top: 20px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.3ch;
  border: none;

  padding: 15px;

  background:  #CE4257;
  color: white;
  border-radius: 5px;
  
  box-shadow: vars.$shadow;

  &:active {
    box-shadow: vars.$inset-shadow;
  }
};

.profile-modal{
display: flex;
justify-content: center;
margin-top: 4vh;
}
