@use 'src/styles/vars';

.header{
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 25;
 
  &-ellipsis{
    width: 6vh;
    height: 6vh;
    margin-left: 4vh;
    cursor: pointer;
    z-index: 2;
    position: relative;
      transition: all 300ms ease-in-out;

    &--onSidebar {
      position: relative;
      width: 6vh;
      height: 6vh;
      margin-left: 4vh;
      margin-top: 1vh;
      z-index: 15;
      transform: rotate(90deg);
      transition: all 300ms ease-in-out;
    }
  }

  &-logo{
    width: 10vh;
    height: 10vh;
    margin-top: 4vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -2vh;
  }

  &-iconProfil{
    width: auto;
    height: 6vh;
    margin-top: 4vh;
    margin-right: 4vh;
    cursor: pointer;
  }
  .svg-inline--fa.fa-w-16{
    width: 4vh;
    margin-top: 3vh;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: -30vh;
  width: 30vh;
  height: 100%;
  background-color:#F4BB01;
  transition: left 300ms ease-out;
  z-index: 1;
  
}
.sidebar.active {
  left: 0;
}
.sidebar ul {
  margin-top: 20vh;
  padding: 0;
}
.sidebar li {
  list-style: none;
}
.sidebar li {
  font-size: 2.5vh;
  text-decoration: none;
  padding: 2vh;
  display: block;
  color: #1D120C;
}

.sidebar li::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #1D120C;
  transition:  .5s;
  margin-top: 1vh;
}

.sidebar li:hover::after{
  width: 80%;
  transition:  .5s;
  margin-left: 2vh;
}

.separation {
  border-bottom: black 1px solid;
  width: 60%;
  margin-left: 6vh;
  margin-top: 12vh;
  
}

.test li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  font-size: 1.3em;
  cursor: pointer;
}
.brandIcon{
  margin-top: 30vh;
}
.faFacebookSquare{
  font-size: 3vh;
  margin-right: 3vh;
}

.faTwitterSquare{
  font-size: 3vh;
  margin-right: 3vh;
}

.faInstagramSquare{
  font-size: 3vh;
}

.login {
  
  margin-top: 4vh;
  margin-right: 4vh;
  font-size: 20px;
  display:flex;
}

.linkSignUp{
  
  padding: 1vh;
  background-color: #e43e54;
  color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.linkSignIn{
  margin-right: 1vh;
  padding-top: 1vh;
  align-items: center;
}



.linkSignIn:hover{
  color: #e43e54;
}

.getStarted{
 display:none;
 
}



@media (max-width: vars.$normal){
  .login {
    display: none
  }
  .getStarted{
    display: flex;
    height: 6vh;
    margin-top: 4vh;
    margin-right: 4vh;
    font-size: 2vh;
    background-color: #e43e54;
    text-align: center;
    border-radius: 2px;
    color: white;
    padding: .5em .5em;
    
  }
  
}
