.error {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
  
  &-title {
    font-size: 30px;
    margin: 50px;
  }

  &-container {
    width: 1067px;
    height: 600Px;
  }
}
