.about {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./popcorn.png);
  background-repeat: no-repeat;
}

.accordion {
  width: 500px;
}

.container {
  margin-bottom: 5px;
  padding: 10px 20px;

  &-title {
    border-bottom: solid 3px #CE4257;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-brezier(0,1,0,1);

  &-show {
    height: auto;
    max-height: 100vh;
    transition: all 0.5s cubic-brezier(0,1,0,1);
  }

}
