.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  border-radius: 20px;


  &__infos {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 7%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 20px 20px;
    height: auto;
    position: relative;
    bottom: 70px;

    &__title {
      color:white;
      font-weight: bold;
      margin: 0 10px 10px 10px;
    }

    &__elements {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 10px 10px 10px;
    }
  }

  &__poster {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  &__platform {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }

  &__watchlistButton {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
}
