.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
  margin: auto;
  max-width: 750px;
  height: 450px;

  &__searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pickyMood {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
