@use 'src/styles/vars';

.home {
  display: flex;
  flex-direction: column;

  height: 450px;
  margin: auto;
  margin-top: 20vh;

  transition: margin-top 700ms ease-in;

  &__searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--noResearch {
    justify-content: space-around;
    transition: none;
    
    .home {
      &__results {
        display: none;
      }

      &__pickyMood {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__link {
          width: auto;
          margin-top: 30px;
          text-transform: uppercase;
          font-style: italic;
          font-weight: bold;
          letter-spacing: 0.3ch;
          border: none;

          padding: 15px 20px;

          background:  #F4BB01;
          color: white;
          border-radius: 5px;
          
          box-shadow: vars.$shadow;

          &:active {
            box-shadow: vars.$inset-shadow;
          }
        }
      }
    }
  }

  &--research {
    justify-content: flex-start;
    margin-top: 8vh;

    .home {
      &__searchBar {
        &__presentation {
          display: none;
        }
        &__suggestion {
          display: none;
        }
      }

      &__pickyMood {
        display: none;
      }

      &__results {
        display: flex;
      }
    }
  }

  &__toast-Container{
    color: white;
    font-style: italic;
    margin-top: 10vh;
  }
}

@media (max-width: vars.$smallest) {
  .home {
    margin-left: 25px;
    margin-right: 25px;
  }
}
