@use 'src/styles/vars';

.home {
  display: flex;
  flex-direction: column;

  height: 450px;
  width: auto;
  margin: auto;
  margin-top: 20vh;

  transition: margin-top 700ms ease-in;

  &__searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__suggestion {
      margin-bottom: 10vh;
    }
    &__presentation {
      margin-bottom: 15vh;
      padding: 2vh;
      display: inline-block;
      border: 3px solid #333333;
      font-size: 2.0vh;
      border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
      text-transform: uppercase;
      letter-spacing: 0.3ch;
      background: #ffffff;
      position: relative;
      z-index: -2;
    
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
    }
  }
  .button-homePage{
    margin-top: 4vh;
    display: flex;
    text-align: center;
    margin-bottom: 2vh;
  }
  
  &--noResearch {
    justify-content: space-around;
    transition: none;
    
    .home {
      &__results {
        display: none;
      }

      &__pickyMood {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8vh;

        &__linkLeft {
          margin-right: 1.5vh;
          width: auto;
          margin-top: 3vh;
          text-transform: uppercase;
          font-style: italic;
          font-weight: bold;
          letter-spacing: 0.3ch;
          border: none;

          padding: 15px 20px;

          background:  #F4BB01;
          color: white;
          border-radius: 5px;
          
          box-shadow: vars.$shadow;

          &:active {
            box-shadow: vars.$inset-shadow;
          }
         
        }
        &__linkRight{
          margin-left: 1.5vh;
          width: auto;
          margin-top: 3vh;
          text-transform: uppercase;
          font-style: italic;
          font-weight: bold;
          letter-spacing: 0.3ch;
          border: none;

          padding: 15px 20px;

          background:  #F4BB01;
          color: white;
          border-radius: 5px;
          
          box-shadow: vars.$shadow;

          &:active {
            box-shadow: vars.$inset-shadow;
          }
         
        }
      }
    }
  }

  &--research {
    justify-content: flex-start;
    margin-top: 4vh;

    .home {
      &__searchBar {
        &__presentation {
          display: none;
        }
        &__suggestion {
          display: none;
        }
      }

      &__pickyMood {
        display: none;
      }

      &__results {
        display: flex;
      }

      &__gradient {
        width: 100vw;
        margin: auto;
        height: 250px;
      
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        bottom: 0;
    
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 85%);
        pointer-events:none;
      }
    
      &__footer {
        display: flex;
        justify-content: center;
        align-items: baseline;
      
        width: 60vw;
        margin: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        z-index: -1;
      
        color: black;
        font-weight: bold;
        text-align: center;
        font-size: 1.2em;
        pointer-events: auto;
    
        &__link {
          width: 100px;
          padding: 10px;
    
          background-color:  #F4BB01;
          color: white;
          border-radius: 5px;
          box-shadow: vars.$shadow;
    
          &:active {
            box-shadow: vars.$inset-shadow;
          }
        }
    
        &__text {
          margin: 0 10px;
        }
      }
    }
  }

  &__toast-Container{
    color: white;
    font-style: italic;
    margin-top: 10vh;
  }
}

@media (max-width: vars.$large) {
  .home {
    margin-left: 25px;
    margin-right: 25px;
  }
}
