@use 'src/styles/vars';

.home {
  display: flex;
  flex-direction: column;

  height: 450px;
  margin: auto;
  margin-top: 25vh;

  transition: margin-top 700ms ease-in;

  &__searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--noResearch {
    justify-content: space-around;
    transition: none;
    
    .home {
      &__results {
        display: none;
      }

      &__pickyMood {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &--research {
    justify-content: flex-start;
    margin-top: 13vh;

    .home {
      &__searchBar {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        &__presentation {
          display: none;
        }
        &__suggestion {
          display: none;
        }
      }

      &__pickyMood {
        display: none;
      }

      &__results {
        display: flex;
      }
    }
  }
}

@media (max-width: vars.$smallest) {
  .home {
    margin-left: 25px;
    margin-right: 25px;
  }
}
