.detailsMovie{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &-title{
    width: 50vh;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 3vh;
    font-weight: bold;
    text-shadow:0 0 30px #EC637B,5px 9px 5px rgba(0, 0, 0, 0.5), 0 0 150px #CE4257;color:#CE4257
  }
  &-youtube{
    width: 50vh;
    border-radius: 5px;
  }
  &-synopsis{
    margin-top: 2vh;
    text-align: center;
    width: 80%;
    font-size: 2vh;
    margin-bottom: 8vh;
  }
  &-noTrailer{
    width: 30vh
  }
  &-plateform{
    margin-bottom: 3vh;
    text-align: center;
  }
  &-genre{
    margin-bottom: 1vh;
  }

  &-noPlateform{
    margin-bottom: 3vh;
    text-align: center;

    &-sad{
      width: 2vh;
    }
  }
}
