
.input-middle-errorMessage{
	display: block;
	text-align: center;
	color: red;
	font-weight: bold;
	font-style: italic;
	font-size: 1vh;
}
.redirect{
	width: 44vh;
	margin-top: 3vh;
	padding: 1vh;
	background: white;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0.3ch;
	font-size: 1.2vh;
}

.redirectConnected{
	width: 44vh;
	margin-top: 6vh;
	padding: 1vh;
	background: white;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0.3ch;
	font-size: 1.2vh;
}

.redirectSignUp{
	width: 44vh;
	padding: 1vh;
	background: white;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0.3ch;
	font-size: 1.2vh;
  margin-left: 5vh;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);



@mixin epic-sides() { // https://codepen.io/MichaelArestad/pen/qltuk
    position: relative;
    

    &:before {
        position: absolute;
        content: "";
        display: block;
        z-index: -1;
        @content;
    }
}


.formSignUp {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10vh;
}

.field-update {
  font-size: 1.5vh;
  font-style: italic;
  font-weight: bold;
  border: 1px solid black;
  background: #F4BB01;
  border-radius: 5px;
  padding: 1vh
}
.rowSignUp {
  max-width: 800px;
  @include epic-sides() {background: inherit;}
  text-align: center;
  margin-bottom: 3vh;
  
  span {
    position: relative;
    display: flex;
    margin: 2vh
  }
  &-error{
    margin-bottom: 2vh;
    color: red;
	font-weight: bold;
	font-style: italic;
	font-size: 1.2vh;
  }
}

.modal-title {
  margin-bottom: 2vh;
}
.p-modal {
  display: flex;
  justify-content: center;
  text-align: center;
}

.back-button {
  margin-right: 2vh;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-bottom:1vh;
  padding-top: 1vh;
  border: none;
  border-radius: 5px;
  background: #CE4257;
  color: white;
}

.gate__pseudo {
  margin-bottom: 2vh;
  display: inline-block;
  width: 50vh;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 75px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #070707;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11.5px 12px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #F4BB01;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 20;
    font-style: italic;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #F4BB01;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3,36,41,.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate__pseudo {
  text-indent: 85px;
}
span:nth-child(2) .gate__pseudo:focus,
span:nth-child(2) .gate__pseudo:active{
  text-indent: 0;
}
.gate__pseudo:focus,
.gate__pseudo:active {
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;
    
    &:before {
      transform: rotate(10deg);
    }
  }
}


.gate__email {
  margin-bottom: 2vh;
  display: inline-block;
  width: 50vh;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #070707;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11.5px 12px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #F4BB01;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 20;
    font-style: italic;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #F4BB01;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3,36,41,.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate__email {
  text-indent: 125px;
}
span:nth-child(2) .gate__email:focus,
span:nth-child(2) .gate__email:active{
  text-indent: 0;
}
.gate__email:focus,
.gate__email:active {
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;
    
    &:before {
      transform: rotate(10deg);
    }
  }
}


.gate__password {
  margin-bottom: 2vh;
  display: inline-block;
  width: 50vh;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 125px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #070707;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11.5px 12px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #F4BB01;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 20;
    font-style: italic;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #F4BB01;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3,36,41,.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate__password {
  text-indent: 85px;
}
span:nth-child(2) .gate__password:focus,
span:nth-child(2) .gate__password:active{
  text-indent: 0;
}
.gate__password:focus,
.gate__password:active {
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;
    
    &:before {
      transform: rotate(10deg);
    }
  }
}


.gate__confirmationPassword{
  display: inline-block;
  width: 50vh;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 230px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #070707;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11.5px 12px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #F4BB01;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 20;
    font-style: italic;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #F4BB01;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3,36,41,.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate__confirmationPassword:focus,
span:nth-child(2) .gate__confirmationPassword:active{
  text-indent: 0;
}
.gate__confirmationPassword:focus,
.gate__confirmationPassword:active {
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;
    
    &:before {
      transform: rotate(10deg);
    }
  }
}
