@use 'src/styles/vars';

.profileLuckyPicky{
  display: flex;
  justify-content: space-around;
  margin-bottom: 4vh;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;

  &-title {
    margin-top: 5vh;
    padding: 2vh;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.0vh;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    z-index: -2;
    
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
  }
};


.getLucky{

  text-align: center;
  margin-top: 17vh;
  &-button{
    margin-top: 2vh;
    height: 12vh;
    width: 32vh;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.3ch;
    border: none;
    font-size: 4vh;
    padding: 15px;
    color: white;
    border-radius: 5px;
    
    background:  #CE4257;
    margin-right: 1vh;
    margin-left: 1vh;
    
    
    box-shadow: vars.$shadow;
    
    &:active {
      box-shadow: vars.$inset-shadow;
    }
  }
}

.pickyLucky {
  &__gradient {
    width: 100vw;
    margin: auto;
    height: 250px;
  
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    bottom: 0;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 85%);
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
  
    width: 60vw;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    z-index: -1;
  
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    pointer-events:auto;

    &__link {
      width: 100px;
      padding: 10px;

      background-color:  #F4BB01;
      color: white;
      border-radius: 5px;
      box-shadow: vars.$shadow;
      cursor: pointer;

      &:active {
        box-shadow: vars.$inset-shadow;
      }
    }

    &__text {
      margin: 0 10px;
    }
  }
}
