.about {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./popcorn.png);
  background-repeat: no-repeat;
}

.accordion {
  width: 65vw;
  justify-content: center;
}

.container {
  margin-bottom: 5px;
  padding: 10px 20px;

  &-title {
    border-bottom: solid 3px #CE4257;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-brezier(0,1,0,1);

  &-show {
    display: flex;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    transition: all 0.5s cubic-brezier(0,1,0,1);
  }

}

.row {
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-name {
    color: #CE4257;
    font-weight: bold;
  }

  &-role {
    font-style: italic;
  }

  &-img {
    border-radius: 20px;
    object-fit: contain;
    width: 60px;
  }

}
