.wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: auto;
  background-image: url(./popcorn.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: left 12% top 50%;
}
.about {
  display: flex;
  height: 450px;
  margin: auto;
  margin-top: 20vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.accordion {
  width: 65vw;
  align-items: center;
  justify-content: center;
}

.container {
  margin-bottom: 5px;
  padding: 10px 20px;

  &-title {
    border-bottom: solid 3px #CE4257;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &-paragraph {
    text-align: left;
    text-justify: distribute;
    line-height: 1.3;
    width: auto;
    justify-content: center;
    align-items: center;

  }
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-brezier(0,1,0,1);

  &-show {
    display: flex;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    transition: all 0.5s cubic-brezier(0,1,0,1);
    margin-right: 8vh;
    overflow: auto;
  }

}

.row {
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-name {
    color: #CE4257;
    font-weight: bold;
  }

  &-role {
    font-style: italic;
  }

  &-img {
    border-radius: 40px;
    object-fit: contain;
    width: 70px;
    height: 70px;

  }

}
