@use 'src/styles/vars';

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 70vw;
  margin: auto;
  height: 70vh;

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  &--empty {
    flex-direction: column;
    bottom: 15vh;
  }

  &-container {
    width: 150px;
    height: 100px;
    margin: auto;
  
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__img {
    width: 300px;
    height: 300px;

  }
}

.watchlist--empty {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: vars.$large) {
  .cards {
    width: 70vw;
  }
}

@media (max-width: vars.$normal) {
  .cards {
    width: 85vw;
  }
}

@media (max-width: vars.$small) {
  .cards {
    width: 90vw;
    &__img {
      width: 150px;
      height: 150px;
    }
    &--empty {
      bottom: 10vh;
    }
  }
  .watchlist--empty {
    margin: 0 20px;
    p {
      margin-top: 20px;
    }
  }
}

@media (max-width: vars.$smallest) {
  .cards {
    width: 100vw;
  }
}

