@use 'src/styles/vars';

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 70vw;
  margin: auto;
  height: 70vh;

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  &-container {
    width: 150px;
    height: 100px;
    margin: auto;
  
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &-img {
    background-image: url(./sadpopcorn.png);
    background-repeat: no-repeat;
    width: 100vw;;
    height: 100vh;
    margin: auto;
    
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

@media (max-width: vars.$large) {
  .cards {
    width: 70vw;
  }
}

@media (max-width: vars.$normal) {
  .cards {
    width: 85vw;
  }
}

@media (max-width: vars.$small) {
  .cards {
    width: 90vw;
  }
}

@media (max-width: vars.$smallest) {
  .cards {
    width: 100vw;
  }
}

